@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap');

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: var(--color-blue-100)
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.bolder {
  font-weight: bolder;
}

.box-winner {
  background-color: steelblue;
  color: white;
}

.modal.close {
  animation: close-modal 0.2s ease-in;
}

@keyframes close-modal {
  0% {opacity: 1}
  100% {opacity: 0}
}
