/* fonts design tokens */

.text-xxl {
    font-size: var(--typography-text-xxl-font-size);
    text-decoration: var(--typography-text-xxl-text-decoration);
    font-family: var(--typography-text-xxl-font-family);
    font-weight: var(--typography-text-xxl-font-weight);
    font-style: var(--typography-text-xxl-font-style);
    font-stretch: var(--typography-text-xxl-font-stretch);
    letter-spacing: var(--typography-text-xxl-letter-spacing);
    line-height: var(--typography-text-xxl-line-height);
    text-indent: var(--typography-text-xxl-paragraph-indent);
    letter-spacing: var(--typography-text-xxl-paragraph-spacing);
    text-transform: var(--typography-text-xxl-text-case);
}

.text-lg {
    font-size: var(--typography-text-lg-font-size);
    text-decoration: var(--typography-text-lg-text-decoration);
    font-family: var(--typography-text-lg-font-family);
    font-weight: var(--typography-text-lg-font-weight);
    font-style: var(--typography-text-lg-font-style);
    font-stretch: var(--typography-text-lg-font-stretch);
    letter-spacing: var(--typography-text-lg-letter-spacing);
    line-height: var(--typography-text-lg-line-height);
    text-indent: var(--typography-text-lg-paragraph-indent);
    letter-spacing: var(--typography-text-lg-paragraph-spacing);
    text-transform: var(--typography-text-lg-text-case);
}

.text-base {
    font-size: var(--typography-text-base-font-size);
    text-decoration: var(--typography-text-base-text-decoration);
    font-family: var(--typography-text-base-font-family);
    font-weight: var(--typography-text-base-font-weight);
    font-style: var(--typography-text-base-font-style);
    font-stretch: var(--typography-text-base-font-stretch);
    letter-spacing: var(--typography-text-base-letter-spacing);
    line-height: var(--typography-text-base-line-height);
    text-indent: var(--typography-text-base-paragraph-indent);
    letter-spacing: var(--typography-text-base-paragraph-spacing);
    text-transform: var(--typography-text-base-text-case);
}

.text-desk-player {
    font-size: var(--typography-text-desk-player-font-size);
    text-decoration: var(--typography-text-desk-player-text-decoration);
    font-family: var(--typography-text-desk-player-font-family);
    font-weight: var(--typography-text-desk-player-font-weight);
    font-style: var(--typography-text-desk-player-font-style);
    font-stretch: var(--typography-text-desk-player-font-stretch);
    letter-spacing: var(--typography-text-desk-player-letter-spacing);
    line-height: var(--typography-text-desk-player-line-height);
    text-indent: var(--typography-text-desk-player-paragraph-indent);
    letter-spacing: var(--typography-text-desk-player-paragraph-spacing);
    text-transform: var(--typography-text-desk-player-text-case);
}